.figure {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    transition: var(--hover-transition);
}

.image {
    max-width: 300px;
    height: 250px;
    object-fit: contain;
    padding: 1rem;
    justify-self: center;
}

.figure:hover {
    transform: var(--hover-transform-up);
    box-shadow: 4px 4px 0px var(--secondary-color);
}

.figure:active {
    transform: var(--hover-transform-down);
}

.link {
    flex: 1;
    display: flex;
    justify-content: center;
}

.figcaption {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-top: 2px solid var(--primary-color);
}

#title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
}

.price {
    white-space: nowrap;
}